    /* Macro */
    
    body {
        background-color: #F3F3F3;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
    }
    
    h1 {
        font-size: 34px;
        font-weight: 400;
        color: #333333;
        margin-bottom: 0;
    }
    
    a {
        color: #0073E6;
    }
    
    h2 {
        font-size: 18px;
        font-weight: 400;
        color: #757575;
        word-wrap: unset;
    }
    /* Classes */
    
    .btn-light {
        background-color: #F3F3F3;
    }
    
    .info {
        color: #757575;
    }
    
    .account-divider {
        color: #999999;
        border-top: 1px solid #999898;
    }
    
    .otherDevider {
        border-top: 1px solid #999898;
    }
    /* ID's */
    
    #cancel {
        width: 200px;
        height: 37px;
        background-color: #EAEAEA;
        border: none;
        color: black;
        border-bottom: 1px solid #C3C3C3;
        border-radius: 2px;
    }
    
    #cancel span {
        font-weight: 400;
        font-size: 13px;
        color: black;
    }
    
    @media screen and (max-width: 992px) {
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 16px;
        }
    }
    
    @media screen and (max-width:870px) {
        #cancel {
            width: 150px;
        }
    }
    /* navbar */
    
    .navbarColor {
        background-color: black;
    }
    
    #navBarId {
        background-color: black;
    }
    
    #searchField::placeholder {
        caret-color: white;
    }
    
    #searchField {
        caret-color: white;
        color: white;
        box-shadow: 0 0 0 0;
    }
    /* navbar end */
    /* dropdown */
    
    a.dropdown-item:hover {
        background-color: black;
        text-decoration: underline;
    }
    
    #dropDown {
        background-color: black;
        color: white;
    }
    
    #dropDown::hover {
        background-color: black;
        color: black;
    }
    
    #dropDown .caret {
        border-top: none;
        border-bottom: 4px solid #000000;
    }
    
    #smalltriangle {
        position: absolute;
        top: 0px;
        left: 162px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #E5E5E5 transparent;
    }
    /* end dropdown */