body,
.myNav {
    background-color: black;
}

.main-content {
    color: white;
    font-family: sans-serif;
}

h1 {
    font-size: 52px;
    margin-bottom: 0;
}

#profileName {
    background-color: grey;
    color: white;
    width: 22rem;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 0px;
}

#profileName::placeholder {
    color: white;
}

#profileName::focus {
    outline: 0;
}

.content-div {
    background-color: rgb(19, 16, 16);
    opacity: 0.9;
}

#dropdownMenuButton1 {
    border: 1px solid white;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    background-color: rgb(19, 16, 16);
    border-radius: 0px;
}

#maturityratings {
    background: none;
}

#edit {
    border-radius: 0px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.me-1 {
    border: 1px solid gainsboro;
    background-color: black;
    border-radius: 0;
}

.middleHr {
    margin-right: 30px;
}

.me-1 {
    border: 1px solid gainsboro;
    background-color: black;
    border-radius: 0;
}

.middleHr {
    margin-right: 30px;
}